<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviewpage</title>
    <center> <h1 style="color:white;font-size:30px"> reviewpage </h1> </center>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post creation</title>
</head>
<body>
    <h1 style="color:white;font-size:25px"> New users kindly signup here </h1>
    <label for="w3review">Write your text:</label>
    <br>
    <textarea id="w3review" name="w3review" rows="10" cols="50">
    </textarea>
    <br>
    <input class="btn" type="submit" value="createpost" onclick="">
    <br>
    <input class="btn" type="submit" value="reviewpost" onclick="">
    <br>
    <button><a href =" http://127.0.0.1:5000/logout"> logout </a></button>
</body>
</html>